.module__container {
    padding: 1rem 2rem;
    width: 70%;
    margin-right: 10px;
}

h2 {
    font-weight: normal;
}

@media (max-width: 768px) {
    .module__container {
        width: 100%;
        padding: 2rem 3rem 2rem 2rem;
    }
}