* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.payment{
    width: 30%;
    background-color: lightgray;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.payment__top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__top__logo {
    color: rgb(5, 5, 117);
    letter-spacing: 0rem;
    filter: drop-shadow(1px 1px 1px  black);
}

.payment__top__desc {
    text-align: center;
}

.payment__middle {
    text-align: center;
}

.payment__middle__paying {
    font-weight: normal;
    color: rgb(54, 53, 53);
}

.payment__middle__price {
    font-weight: bolder;
    font-size: 1.5rem;  
    filter: drop-shadow(1px 1px 1px  black);
}

.payment__middle__people {
    color: gray;
    margin-top: 5px;
    font-size: 0.8rem;
    opacity: .7;
}

button {
    background-color: rgb(91, 144, 243);
    color: white;
    border: none;
    border-radius: 20px;
    padding: .7rem 1rem 1rem;
    width: 200px;
    cursor: pointer;
}

.triangle-up {
	width: 0;
	height: 0;
    margin-left: 5px;
    position: relative;
    top: 4px;
	border-left: 95px solid transparent;
	border-right: 95px solid transparent;
	border-bottom: 30px solid rgb(91, 144, 243);;
}

@media (max-width: 768px) {
    .payment {
        width: 100%;
        gap: 120px;
    }
}